* { 
    margin: 0; 
    padding: 0; 
}

body {
    background: #282828; 
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
}

ul {
    max-width: 100%;
    list-style-type: none;
}

img {
    max-width: 100%;
}